<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:fragment="layout(title,body)">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
    <title  th:replace="${title}">Insert title here</title>
</head>
<body>
    <header th:replace="~{common/header :: layout-header}"></header>
    <main>
        <aside th:replace="~{common/sidebar :: layout-sidebar}"></aside>
        <article th:replace="${body}"></article>
    </main>
    <footer th:replace="~{common/footer :: layout-footer}"></footer>
</body>
</html>
