@charset "utf-8";

header {
	width: 700px;
	height: 100px;
	background: #4dc;
}

.container{
	display: flex;
	flex-direction: row;
}

aside {
	width: 200px;
	height: 300px;
	background: #7fffd4;
}

article {
	width: 500px;
	height: 300px;
	background: #fec;
}

footer {
	width: 700px;
	height: 100px;
	background: #dcdcdc;
}

