@charset "UTF-8";
/* ---- 12章 CSS12-2 作成  --- */

header {
    background-color: #c0c0c0;
    height: 80px;
}
main {
    display: flex;
    flex-direction: row;
    border:1px gray solid;
}
aside {
    background-color: #808080;
    height: 200px;
    width: 150px;
}
article {
    height: 200px;
}
footer {
    background-color: #c0c0c0;
    height: 80px;
}
