@charset "UTF-8";
/* ---- 12章 CSS12-1 作成  --- */

table.item{
	border:1px solid darkblue;
	border-collapse: collapse;
}

table.item th,td{
	width:100px;
	border-collapse: collapse;
	border:1px solid darkblue;
}

.row{
   background-color: skyblue;
	text-align:center;
}