<!DOCTYPE html>
<!--/* add 6章 ソースコード6-39 */-->
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>商品の確認画面</div>
		<ul>
			<li th:text="${item.name}"></li>
			<li th:text="${item.price}+'円'"></li>
		</ul>
		<form method="post" th:action="@{/items/create/complete/hidden}" >
			<!-- hiddenで値を送信する。 -->
			<input type="hidden" name="name" th:value=${item.name} />
			<input type="hidden" name="price" th:value=${item.price} />
			<input type="submit" value="登録する" />
		</form>
		
	</div>

</body>
</html>