<!DOCTYPE html>
<!--/* add 6章 ソースコード6-24 */-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title> 
</head>
<body>
<div>ドロップダウンリスト</div>
<select name="itemdrop">
<option th:each="item: ${items}"
	  th:value="${item.id}" th:text="${item.name}"></option>
</select>

<!--/* add 6章 ソースコード6-25 */-->
<div>チェックボックス</div>
<div th:each="item: ${items}">
 	<input type="checkbox"  th:id="${item.id}" >
 	<label th:for="${item.id}" th:text="${item.name}"></label> 
</div>
<div>ラジオボタン</div>
<div th:each="item :${items}">
 <input type="radio" name="selectedRadio" th:value="${item.id}" th:text="${item.name}" />
</div> 

</body>
</html>
