<!DOCTYPE html>
<!--/* add 7章(補足) ソースコード7-13 */-->
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>商品の新規登録完了</div>
	<ul>
		<li th:text="${item.name}"></li>
		<li th:text="${item.price}+'円'"></li>
		<th:block th:switch="${item.category.id}">
			<li th:case="1" th:text="食料品"></li>
			<li th:case="2" th:text="文房具"></li>
			<li th:case="3" th:text="書籍"></li>
		</th:block>
	</ul>
	<p>
	<h2>登録が完了しました</h2>
	</p>
	<br />
	<a th:href="@{/create/input}" th:text="入力画面へ戻ります"></a>
</body>
</html>