@charset "utf-8";

.light_roast,  .dark_roast {
	color: #fff;
}

.light_roast {
	background: #b96;
}

.medium_roast {
	background:repeat left url("coffee.png") #963;
	color: #963;
}

.dark_roast {
	background-color: #630;
}